body {
    background-color: whitesmoke
}
#naslov {
    margin-top: 40px;
    width: 100%;
    padding: 40px
}
h1, p {
    
    color: lightgray
}
table img {
    height: 300px;
    width: 200px;
}
table {
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: solid 1px whitesmoke

}